#tit{
	font-weight:bold;
	font-size:34px;
	margin-left:25px;
}
#tit2{
	
	font-size:34px;
	
}
#espacio{
	margin-left:25px;
}
#btn{
	border:solid 1px #000;
	background:#c79b35;
	padding:5px;
	border-radius:5px;
	font-size:24px;
	font-weight:bold;
	color:#FFF;
	cursor:pointer;
}
#btn:hover{
	background:#e8c253;
	color:#000;
	cursor:pointer;
}
sup{
	color:#b52e28;
}
#conteapp{
	width:960px;
	position:absolute;
}
#titpren{
	font-size:20px;
	font-weight:bold;
	margin-left:10px;
}
#titul{
	font-weight:bold;
	font-size:22px;
	margin-left:10px;
}
#tit4{
	padding:5px;
	padding-left:15px;
	padding-right:15px;
}
#sepp{
margin-left:15px;
}
#sel:hover{
	background:#e0b145;
}

#edink{
	color:#115e9f;
}

/* PAGINADOR */


.pnumero{
padding-top: 2px;
padding-right: 6px;
padding-bottom: 2px;
padding-left: 6px;
font-family: verdana;
font-size: 17px;
font-weight: bold;
color: #FFF;
background-color: #c79a33;
border: 1px solid #356AA0;
}
.pactiva a:hover{
text-decoration: none;
border: 1px solid #356AA0;
background-color: #fce9ae;
}
.pactiva a{
padding-top: 2px;
text-decoration:none;
padding-right: 6px;
padding-bottom: 2px;
padding-left: 6px;
font-family: verdana;
font-size: 17px;
color: #356AA0;
border: 1px solid #CCCCCC;
font-weight: bold;
background-color: #e7c459;
}