body{
	margin:0;
	padding:0;
	background:#fbf5e3;
}
#cuerpo{
	width:980px;
}
#tit{
	font-size:35px;
	margin-left:25px;
	margin-right:25px;
}
#bot{
	background:#c79c34;
	border:none;
	margin-left:110px;
	font-size:25px;
}
#bot:hover{
	background:#e8c253;
}
